@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amethysta&display=swap');
@import "tailwindcss";

:root {
  --brand-primary: hsl(212, 100%, 14%);
  --brand-primary-hover: hsl(212, 100%, 18%);

  --brand-secondary: hsl(42, 90%, 58%);
  --brand-primary-hover: hsl(42, 90%, 48%);

  --bg-card: hsl(0, 0%, 100%);
  --bg-page: hsl(210, 40%, 98%);

  --text-title: hsl(212, 100%, 14%);
  --text-inverse: hsl(0, 0%, 100%);

  --btn-primary: hsl(42, 90%, 58%);
  --btn-primary-hover: hsl(42, 90%, 48%);

  --font-title: "Amethysta", serif;
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Roboto", sans-serif;

  --bg-color: var(--bg-card);
  --font-default: var(--font-body);

  --admin-border: hsl(220, 10%, 46%);
  --admin-label: hsl(214, 95%, 93%);

  --gradient-from: hsl(214, 100%, 97%);
  --gradient-to: hsl(214, 95%, 93%);
}

.admin-dark {
  --bg-page: hsl(210, 40%, 6%);
  background-color: var(--bg-page);

  --brand-primary: hsl(0, 0%, 95%);
  --text-inverse: hsl(0, 0%, 10%);

  --admin-border: hsl(220, 13%, 54%);
  --admin-label: hsl(214, 95%, 76%);

  --gradient-from: hsl(217, 65%, 16%);
  --gradient-to: hsl(217, 65%, 24%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-default);
  background-color: var(--bg-color);
  color: var(--text-title);
}