@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amethysta&display=swap');
@import "tailwindcss";

:root {
  --primary-accent: hsl(212, 100%, 14%);
  --secondary-accent: hsl(42, 90%, 58%);
  
  --primary-light: hsl(212, 100%, 18%);

  --bg-primary: #fff;
  --bg-secondary: #f8fafc;

  --text-primary: #002147;
  --text-on-dark: #ffffff;

  --btn-primary: hsl(42, 90%, 58%);
  --btn-secondary: hsl(42, 90%, 48%);

  --font-amethysta: "Amethysta", serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  --bg-color: var(--bg-primary);
  --font-default: var(--font-roboto);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-default);
  background-color: var(--bg-color);
  color: var(--text-primary);
}

